<nav class=" p-4 navbar navbar-light bg-dark text-center row" >
    
    <p class="navbar-brand text-center h2" style="color: white;font-size: 30px;">
        <i class="far fa-user" style="color: white;margin-right: 8px ;"></i>
        Component Reuse App</p>
</nav>
