<div class="input-group mt-4">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search Component" required/>
      
    </div>

    <a id="search-button"  class="btn btn-primary" >
      <i class="fas fa-search"></i>
    </a>
</div>
<p id="errorSearch" style="color: red;"></p>